body{
    text-align: center;
}
h1{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}
#app{
    background-color: blue;
}
#game{
    background-color: aqua;
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto; 
}